body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


@media (min-width: 1400px) {
    body {
        background-color: lightblue;
    }
}


@media (max-width: 1399px) and (min-width: 830px) {
    body {
        background-color: lightgreen;
    }
}


@media (max-width: 829px) and (min-width: 375px) {
    body {
        background-color: lightcoral;
    }
}
